/* GLOBAL */

* {
    margin: 0;
    padding: 0;
}

#all {
    background: #d7d7d7;
}

/* HEADER */

.header {
    background: #303030;
    border: 5px solid #303030;
    border-radius: 0px 0px 40px 40px;
    text-align: center;
    color: orange;

    line-height: 500%;

    display: flex;
}

.pythonimg {
    margin-left: 50px;
    width: 80px;
    height: 80px;
}

.project-name {
    margin-left: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 3em;

    background: #292929;
    border: 5px solid #252525;
    border-radius: 20px;

    text-decoration: none;
    color: orange;

    transition: all 500ms;
}

.go-back {
    margin-left: 600px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2.5em;

    background: #292929;
    border: 5px solid #252525;
    border-radius: 20px;

    text-decoration: none;
    color: orange;

    transition: all 500ms;
}

/* HEADER HOVERS */

.project-name:hover {
    background: #303030;
    border: 0px solid #303030;

    color: #4aaa39;

    cursor: default;
}

.go-back:hover {
    background: #303030;
    border: 0px solid #303030;

    color: #4aaa39;

    cursor: pointer;
}

/* MAIN */

.main {
    background: #d7d7d7;
    color: #303030;
    text-align: center;

    display: flex;
}

.info {
    margin: 50px;
    
    background: #ffa500;
    border: 5px solid #f7b842;
    border-radius: 20px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;

    width: 500px;
}

.full-project-autors {
    margin: 50px;
    
    background: #ffa500;
    border: 5px solid #f7b842;
    border-radius: 20px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;

    width: 500px;
}

/* MAIN SELECTIONS */

.main::selection {
    background: greenyellow;
}

.header::selection {
    background: greenyellow;
}